body {
	font-family: "Helvetica Neue", Helvetica, sans-serif;
	width: 100vw;
	margin: 0 auto 50px auto;
	font-size: 14px;
text-align:center;
}

svg {
	display: block;
	width: 840px;
	height: 90vh;
	font-family: helvetica, sans-serif;
	margin-left: auto;
	margin-right: auto;
}

.h3 	{ 
	z-index: 1200;
	
	}
path, line {
	stroke: #381e0b;
}

#button {
	display: block;
	margin-left: auto;
    	margin-right: auto;
}
